

<div class="row">
  <div class="col-xs-12">
   <img src="{{recipe.imagepath}}" alt="nn" class="img-responsive"  style="max-height: 1000px; width: 100px"> 
  </div>
</div>
<div class="row">
<div class="col-xs-12" >
  <h1>{{recipe.name}}</h1>
  </div>  
</div>
<div class="row">
<div class="col-xs-12">
  <div class="btn-groupe" appDropdown>
  <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipes</button>
  <ul class="dropdown-menu ">
   <li><a href="#">add</a></li>
   <li><a href="#">add1</a></li>
   <li><a href="#" >add2</a></li>
  </ul>
  </div>
  </div>  
</div>
<div class="row">
<div class="col-xs-12">
  Discription
  </div>  
</div>
<div class="row">
<div class="col-xs-12">
  Integration
  </div>  
</div>